* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #236747;
  font-family: "Raleway", sans-serif;
}

a {
  color: #ff7f4f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container {
  width: 300px;
  margin: 50px auto 20px;
}

.form-wrap {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}

.form-wrap h1,
.form-wrap p {
  margin-bottom: 20px;
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  color: #474747;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #a7a7a7; */
  border: none;
  border-bottom: 2px solid #ff7f4f;
  border-radius: 5px;
}

.form-wrap input[type="submit"] {
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff7f4f;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.form-wrap input[type="submit"]:hover {
  background-color: #cb4413;
}

.form-wrap .bottom-text {
  font-size: 12px;
}

footer {
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
}
